
.box{
   
    font-size: 20px;
        margin: 0;
        overflow: hidden;
        font-family: 'Arial', 'Helvetica', 'sans-serif';
       --blue--: #1976d2;
       --black--: #0a0908;
       --gray--: #24272b;
       --darkgray--: #161a1d;
       --yellow--:  rgb(255, 220, 21);
       --grayone--: #343a40;
       --graytwo--: #495057;
     background-color:hsla(222, 47%, 11%, 1);
}
