<!-- HERO-->
<section class="hero" id="home" aria-label="home">
    <div class="container">
        <div class="hero-content">
            <p class="hero-subtitle">Hello Everyone!</p>
            <h1 class="headline headline-1 section-title"> I’m <span class="span">Wren Clark</span> </h1>
            <p class="hero-text">
                I use animation as a third dimension by which to simplify experiences and
                kuiding thro each and everyinteraction. I’m not adding motion just to spruce
                things up, but doing it in ways that.
            </p>
            <div class="input-wrapper">
                <input type="email" name="email_address" placeholder="Type your email address" required
                    class="input-field" autocomplete="off">
                <button class="btn btn-primary">
                    <span class="span">Subscribe</span>
                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                </button>
            </div>
        </div>

        <div class="hero-banner">
            <img src="https://github.com/codewithsadee/wren/blob/master/assets/images/hero-banner.png?raw=true"
                width="327" height="490" alt="Wren Clark" class="w-100">
            <img src="https://raw.githubusercontent.com/codewithsadee/wren/783c2a783deb6f6460a055db5fd4fff4e7c897ea/assets/images/pattern-2.svg"
                width="27" height="26" alt="shape" class="shape shape-1">
            <img src="https://raw.githubusercontent.com/codewithsadee/wren/783c2a783deb6f6460a055db5fd4fff4e7c897ea/assets/images/pattern-3.svg"
                width="27" height="26" alt="shape" class="shape shape-2">
        </div>

        <img src="https://raw.githubusercontent.com/codewithsadee/wren/783c2a783deb6f6460a055db5fd4fff4e7c897ea/assets/images/shadow-1.svg"
            width="500" height="800" alt="" class="hero-bg hero-bg-1">
        <img src="https://raw.githubusercontent.com/codewithsadee/wren/783c2a783deb6f6460a055db5fd4fff4e7c897ea/assets/images/shadow-2.svg"
            width="500" height="500" alt="" class="hero-bg hero-bg-2">
    </div>
</section>